<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/articles/<%= @article.id %>" method="POST">
    <!-- <input type="text"> -->
    <input type="hidden" id="hidden" name="_method" value="PATCH">
    <input type="text" name ="title" value="<%= @article.title %>">
    <input type="text" name ="content" value="<%= @article.content %>">
    
    <input type="submit">
</form>






</body>
</html>