 <!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>

        <div>
            <a href="/articles/new">Create a new article</a>
        </div>

        <ul>
            <% @articles.each do |article| %>
                <li>
                    <a href= <%= "/articles/#{article.id}" %> >
                        <%= article.title %>
                    </a>
                </li>
            <% end %> 
        </ul> 
    </body>
</html> 
