<h1>Edit this article</h1>


<form action="/articles" method="post">
<P>Title: <input type="text" name="title" id="title" />
<p>Content: <textarea type="text" name="content" id="content">
</textarea>
<input type="submit" value="Submit"/>
</form>
