<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   

    <p> <%= @article_id.title %></p>
    <p> <%= @article_id.content%></p>
    <form method= "POST" action="/articles/<%= @article_id.id %>">
        <input id="hidden" type="hidden" name="_method" value="DELETE">
        <input type="submit" name="delete">
    </form>
    
</body>
</html>